.card {
  background: var(--color-primary-glare);
  box-shadow: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  color: var(--color-light);
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  max-inline-size: unset;
  font-size: var(--size-step-0);
  transition: box-shadow 1s ease-out;
}

.card ::selection {
  color: var(--color-dark);
  background: var(--color-secondary);
}

.card h3 {
  font-size: var(--size-step-2);
}

.card h2 a,
.card h3 a {
  text-decoration: none;
}

.card:hover,
.card:focus-within {
  box-shadow: -9px -9px 0px 0px rgba(0, 0, 0, 0.25);
}

.card a {
  text-decoration: none;
}

.card svg {
  height: 4em;
  width: 4em;
}

/* 'clickable' */

.card:focus-within a:focus {
  outline: none;
}
.card {
  position: relative;
}
.card a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}



