.contact {
  --flow-space: var(--space-xl);
  align-items: center;
  align-content: center;
}

input {
  padding: var(--space-s);
}

.contact__info {
  font-size: var(--step-2);
}

.contact button:hover {
  background-color: var(--color-secondary);
}

.contact button:focus {
  background-color: var(--color-secondary);
}
