.contact {
  --flow-space: var(--space-xl);
  align-items: center;
  align-content: center;
}

input,
textarea {
  padding: var(--space-s);
}

[data-color--scheme='dark'] input,
[data-color--scheme='dark'] textarea {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.contact__info {
  font-size: var(--step-2);
}

.contact button:hover {
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

.contact button:focus {
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

@media screen and (min-width: 60em) {
  .contact p {
    max-width: 40ch;
  }
}
