.gallery {
    list-style-type: none;
}

.gallery li img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1.5rem;
    img {
      height: auto;
    }
    
  }
  
  @media screen and (min-width: 48em) {
    .gallery {
      display: flex;
      flex-wrap: wrap;
      flex-direction: inherit;
      gap: 1.5rem;
      list-style: none;
      padding: 0;
      padding-bottom: var(--space-l, 1.5em);
    }
  
    .gallery > li {
      height: auto;
      flex: 1 1 20em;
      cursor: pointer;
      position: relative;
    }

}