/* TODO: watch YT videos and rework this if possible */

.hero {
    position: relative;
    --flow-space: 2em;
    --region-space-top: var(--space-2xl);
    --region-space-bottom: var(--space-2xl);
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .hero__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }


  .hero__inner h1 {
    max-width: 15ch;
  }

  .eyebrow {
    font-family: var(--font-display);
  }
