
.intro-pillars p {
    max-width: 30ch;
    margin-right: auto;
    margin-left: auto;
}

.intro-pillars {
    --region-space-top: var(--space-m);
    --region-space-bottom: var(--space-m);
    max-width: 100%;
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}

.intro-pillars h3 {
    max-width: 100%;
}

.pillar {
    --flow-space: var(--space-s);
}