---
layout: base
---

<header class="hero | region">
  <div class="hero__inner">
    <div class="gutter flow text-light">
      <div>
        <p class="eyebrow">{{ eyebrow | toUpperCase}}</p>
        <h1 class="text-secondary">{{ title | toUpperCase}}</h1>
      </div>
      <div class="cluster">
        <a href="/contact/" class="btn | bg-primary-glare shadow">Contact</a>
        <a href="/services/" class="btn | bg-dark shadow">Services</a>
      </div>
    </div>
  </div>
  {% imageShortcode "./src/assets/images/homehero.png", "Toolbox on stairs" %}
</header>


{% include "partials/intro-home.njk" %}

<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose">
    <h2>{{ blog.title }}</h2>
    <!-- blog intro text is optional. -->
    {% if blog.intro %}
    <p>{{ blog.intro }}</p>
    {% endif %}
  </div>

  <!-- TODO: duplicate of partials/blog.njk -->

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %} {% for post in postslist.slice(0, 4) %}

    <li class="card flow overflow-hidden">
      <h3>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h3>
      {% set definedDate = post.date %} {% include "partials/date.njk" %}
      <p>{{ post.data.description }}</p>
    </li>

    {% endfor %}
  </ul>
</article> 

