---
layout: base
---


{% include "partials/hero.njk" %}


{% include "partials/intro-home.njk" %}

<article class="region bg-light">
  <div class="gutter flow">
    <h2><mark>{{ services.title }}</mark></h2>
    <!-- blog intro text is optional. -->
    {% if services.intro %}
    <p>{{ services.intro }}</p>
    {% endif %}
  </div>

  <!-- TODO: duplicate of partials/blog.njk -->

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry">
    {% set serviceslist = collections.services %} {% for service in serviceslist.slice(0, 3) %}

    <li class="card flow overflow-hidden">
      <h3>
        <a href="{{ service.url | url }}">{{ service.data.title }}</a>
      </h3>
      <p>{{ service.data.description }}</p>
    </li>

    {% endfor %}
  </ul>
</article> 


{% include "partials/cta.njk" %}

{% include "partials/contact.njk" %}