---
layout: base
---

{% include "partials/hero.njk" %}

{% if prose %}
    <article class="region prose wrapper intro flow center">
        {{ content | safe }}
    </article>
{% else %}
    {{ content | safe }}
{% endif %}


{% if contact %}
    {% include "partials/contact.njk" %}
{% endif %}

{% include "partials/cta.njk" %}