---
layout: base
---

{% include "partials/hero.njk" %}

{% if prose %}
    <article class="region prose intro flow center">
        {{ content | safe }}
    </article>
{% else %}
    {{ content | safe }}
{% endif %}


{% if contact %}
    {% include "partials/contact.njk" %}
{% endif %}

{% if map %}
    <section class="map | gutter region flow">
        <h2><mark>Map</mark></h2>
<iframe src="https://www.google.com/maps/d/embed?mid=1o27FCTUxDr16Eti4GZ2bjnw2P_QKYPo&ehbc=2E312F" loading="lazy"></iframe>
    </section>
{% endif %}

{% include "partials/cta.njk" %}