.splitter > :last-child {
  margin-top: var(--space-m);
}

@media screen and (min-width: 60em) {
  .splitter {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .splitter > * {
    flex-grow: 1;
  }

  .splitter > :last-child {
    margin-top: 0;
    margin-left: var(--space-s);
  }
}
