.splitter {
    > :last-child {
      margin-top: var(--space-m);
    }
  
    @media screen and (min-width: 48em) {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
  
      > * {
        flex-grow: 1;
      }
  
      > :last-child {
        margin-top: 0;
        margin-left: var(--space-s);
      }
    }
  }
  