{% if contactSchemeAlt %}
  <section class="contact | region bg-light text-dark flow" id="contact-nav">
  {% else %}
    <section class="contact | region bg-dark text-light flow" id="contact-nav">
    {% endif %}

    <h2 class="text-center center">Get quality service today</h2>
    <div class="wrapper flow splitter">
      <div class="contact__info | stack flow">
        <p>Use the contact form or the information provided to contact us and see how The Wooden Chips can help with your next project.</p>
        <ul role="list">
          <li>
            <a href="tel:9194003907">(757)-822-9210</a>
          </li>
          <li id="email">
            <a href={{"mailto:" + meta.authorEmail}}>
             {{ meta.authorEmail}}
             </a>
          </li>
        </ul>
      </div>
      <div class="contact__form">
        {% if contactSchemeAlt %}
          <form action="https://formsubmit.co/thewoodenchips@gmail.com" method="POST"  class="contact-form stack flow" data-color--scheme="dark">
          {% else %}
            <form action="https://formsubmit.co/thewoodenchips@gmail.com" method="POST"  class="contact-form stack flow">
        {% endif %}
            <label for="form-name">Name:</label>
            <input type="text" name="Name" placeholder="Name" id="form-name" required>
            <label for="form-email">Email Address:</label>
            <input type="email" name="email" id="form-email" placeholder="email@example.com">
            <label for="form-phone">Phone Number:</label>
            <input type="tel" name="phone-number" id="form-phone" placeholder="Phone Number">
            <label for="form-textarea">Message</label>
            <textarea name="message" id="form-textarea" cols="20" rows="10" placeholder="Answer here"></textarea>
            <button type="submit" class="btn bg-primary-glare text-light">Submit</button>
          </form>
        </div>
      </div>
      <div class="stack center text-center">
        <p>Standard Weekly Hours</p>
        <p>Mon - Fri:  9AM - 5PM</p>
      </div>
    </section>