<section class="cta | with-sidebar flow region relative bg-primary pattern">
    {# USE SIDEBAR #}

    <div class="cta__image">
        {% imageShortcode "./src/assets/images/pexels-anete-lusina-4792488.jpg", "Toolbox on stairs" %}
        <div class="rectangle pattern" data-pattern="cover"></div>
        {# <img src="/assets/images/pexels-anete-lusina-4792488.jpg" alt="Toolbox on Steps">  #}
    </div>

    <div class="cta__text | stack flow" style="--flow-space:2em;">
        <h3>Save Time And Get The Job Done</h2>
        <p>We’re dedicated to providing you with the best possible service. We offer general handyman services such as minor repairs, as well as specialized services such as security camera installation and doorbell installation. We take pride in our work and strive to exceed your expectations.</p>
    </div>
</section>