{% set activePage = page.url | url %}

<footer class="site-foot bg-light" role="contentinfo">
  <div class="bg-dark text-secondary region">
    <div class="site-foot__inner gutter">
      {# TODO: Make Image below smaller #}
      <a href="/">
        {% imageShortcode "./src/assets/images/logo-alt.png", "Logo" %}</a>
      <nav id="footernav" class="site-foot__inner text-step-1 switcher text-center region " data-switcher="center" aria-label="Footer">
        {# 

        {% for item in navigation.bottom %}

        <a
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >

        <h4></h4>
        

        {% endfor %} #}

        <ul class="footer__list flow">
          <h3>Contact</h3>
          <li>
            <a href="tel:7578229210">(757)-822-9210</a>
          </li>
          <li id="email">
            <a href={{"mailto:" + meta.authorEmail}}>
              {{ meta.authorEmail}}
            </a>
          </a>
        </li>
      </ul>
      <ul class="footer__list flow" data-heading-size="h4">
        <h3>Services</h3>
        <li>
          <a href="/service/security-cameras/">Security Cameras</a>
        </li>
        <li>
          <a href="/service/doorbell/">Doorbells and Video Doorbells</a>
        </li>
        <li>
          <a href="/service/handyman/">General Handyman</a>
        </li>
      </ul>
      <ul class="footer__list flow">
        <h3>Links</h3>
        <li>
          <a href="/contact/">Contact</a>
        </li>
        <li>
          <a href="/service-area/">Service Area</a>
        </li>
        {# <li>
            <a href="dj.thewoodenchips.com">DJ Services</a>
          </li> #}
      </ul>

    </nav>

    {# <nav id="social" class="site-foot__inner" aria-label="Social links">
        {% for item in social %}

        {% if item.platform == "rss" %}
        <a href="{{ meta.url }}/{{ locale }}{{ item.url }}" rel="alternate" type="application/rss+xml">
        {% else %}
        <a href="{{ item.url }}" rel="me">
          {% endif %}
          <span class="sr-only">{{ item.platform }}</span>
          <div aria-hidden="true">{% include 'icons/social-' + item.icon %}</div>
          </a
          >
        {% endfor %} #}
  </nav>
</div>
</div>
<!-- lang menu -->
<div class="site-foot__copyright | bg-light flow text-color-dark text-center center region">
<p>Website by <a href="https://lebronconsulting.tech/">Lebron Consulting</a>
</p>
<p>©2022 {{ meta.siteName + " LLC" }}</p>
</div>
</footer>