<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="" role="banner">
  <div class="site-head | ontop spot-color-primary">
    {% set activePage = page.url | url %}
    <a href="/" class="logo site-head__brand | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
      {% imagePlaceholder "./src/assets/images/logo-2.png", "The Wooden Chips Handyman Services" %}
    </a>

    {% include "partials/menu.njk" %}
  </div>
</header>