<section class="region flow pattern intro-pillars" style="--flow-space: 3em;">
  <div class="flow text-center center">
    <h2 class="highlight"><mark>We're the Wooden Chips</mark></h2>
    <p>A handyman Service built on</p>
  </div>

  
  <ul class="switcher | text-dark text-center" role="list">
    <li class="pillar flow" data-card="intro">
      <h3>Experience</h3>
      <p>We have x years of experience working in the trades industry.</p>
    </li>
    <li class="pillar flow" data-card="intro">
      <h3>Integrity</h3>
      <p>Honesty is our policy. We strive to be upfront with nothing to hide.</p>
    </li>
    <li class="pillar flow" data-card="intro">
      <h3>Respect</h3>
      <p>Respect is important to any relationship. Especially with our valued customers and their homes.</p>
    </li>
  </ul>
</section>