<div class="modal">
    <div class="modalInner">
        <button aria-label="Previous Photo" class="prev">←</button>
        <div class="modal-div">
            <div class="picture-div"></div>
            <button class="close">Close</button>
        </div>
        <button class="next" aria-label="Next Photo">→</button>
    </div>
</div>
</div>